.login{
  display: flex;
  align-content: center;
}

.login-button-wrapper {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  transform: translate(0, 20%);
  position: relative;
}

.login button{
    height:100%;
    width: 100%;
    background-color: rgb(43, 43, 43);
    border-width: 4px;
    border-radius: 9px;
    border-color: rgb(177, 177, 177);
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  } 

  .login button:hover{
    background-color: rgb(40, 40, 40);
    border-color: rgb(105, 95, 69);
  }
  .login button:active{
    border-color: rgb(177, 177, 177);
    height: 35px;
    width: 70;
  }
  