*{
  
}
.filter{
  display: inline-block;
  position: fixed;
  transform: translateX(10%);
}
.filter-element{
  background-color: #19181e;
  width: 150px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
}
span{
  vertical-align: sub;
  font-family: 'Ubuntu', sans-serif;
  
}
.filter-txt{
  margin-left: 40px;
  font-size: 22px;
}
.button-wrapper-search button{
    background-color: rgb(43, 43, 43);
    border-width: 4px;
    border-radius: 9px;
    border-color: rgb(177, 177, 177);
    width: 80px;
    height: 40px;
    position: relative;
    border-style: solid;
    transform: translateX(34px);
    font-family: 'Ubuntu', sans-serif;
    
  } 
  .button-wrapper-search button:hover{
    background-color: rgb(40, 40, 40);
    border-color: rgb(105, 95, 69);
  }
  .button-wrapper-search button:active{
    border-color: rgb(177, 177, 177);
    height: 35px;
    margin-top: 3px;
  }

.button-wrapper-search{
    max-height: max-content;
    max-width: max-content;
}