*{
    padding: 0;
    margin: 0;
    color: wheat;
  }
body {
    background-color: #15141a;
    min-width: 485px;
}
header{
  display: inherit;
  background-color: #212028;
  height: 50px;
}
.main_{
  margin-top: 15px; 
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.auth_d{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  float: right;
}
.log_d{
  float: left;
  margin-right: 10px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  cursor: pointer;
}
.log_d img{
  margin-left: 10px;
  width: 130px;
  float: left;
}
.log_d h1{
  margin-left: 10px;
  font-family: 'Kanit', sans-serif;
  
}
main h1{
  position: relative;
  text-align: center;
  padding-top: 8px;
}
.filter{
  background-color: #212028;
  width: 230px;
  height: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  float: left;
  text-align: center;
}
.fulanini{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.add_anime{
  background-color: #19181d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  min-height: min-content;
  display: block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  text-align: center;
}
.aniinfo{
  position: absolute;
  padding: 10px;
  background-color: #15141ae8;
  text-align: center;
  width: 97%;
  height: 100%;
  z-index: 2;
}
